.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--spacing-2);
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: var(--theme-transition);
}

.button:disabled {
  background-color: var(--background-color-disabled);
  cursor: not-allowed;
  box-shadow: none;
  transition: var(--theme-transition);
}

.button:focus-visible {
  outline: 2px solid var(--primary-color-hover);
  outline-offset: 2px;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 20%);
}

.button:hover:not(:disabled) {
  background-color: var(--primary-color-hover);
  box-shadow: 0 6px 12px rgb(0 0 0 / 8%);
  transition: var(--theme-transition);
}
