.settings {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.settings__toggle-theme,
.settings__open-credential-modal {
  width: min-content;
  padding: var(--spacing-3);
}

.settings__credentials {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-4);
}

.settings__credential {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.settings__credential__title,
.settings__credential__value,
.settings__credential__actions {
  display: flex;
  flex: 1;
  align-items: center;
}

.settings__credential__title {
  justify-content: flex-start;
}

.settings__credential__value {
  justify-content: center;
  font-weight: var(--font-weight-bold);
}

.settings__credential__actions {
  justify-content: flex-end;
}

.settings__copy-button {
  width: min-content;
}

.settings__theme-picker {
  display: flex;
  flex-direction: column;
}

.settings__theme-button {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--spacing-2);
  padding: var(--spacing-3);
  background-color: var(--primary-color);
  border-radius: 0;
  font-size: var(--font-size-small);
  transition: var(--theme-transition);
}

.settings__theme-button:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.settings__theme-button:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.settings__theme-button--active {
  border-color: var(--primary-color);
  background-color: var(--primary-color-hover);
  color: var(--background-color);
}
